#tblForm1 {
	width:800px;
	border:solid 1px black;
	border-collapse: collapse
	
}

th {
	height:30px;
	border:solid 1px black;
	text-align:left;
	background-color:#FF99FF;
}


td {
	height:50px;
	border:solid 1px black;
	text-align:center;
	background-color:#FF99FF;
}

.buttonArea {
	padding:10px 10px;
}

div {
	width:500px;
	height:200px;
	border:1px solid black;
	padding:20px 10px;
	margin:10px 10px;
}

label {
	display:flex;
	justify-content:space-between;
}

.check[] {
	width: 50px;
}

.line {
	width: 150px;
}